@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2eae2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.principal-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.parfum {
  border-bottom-left-radius: 0.625rem;
  border-top-left-radius: 0.625rem;
}

.image,
.product-content {
  width: 18.75rem;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.product-content {
  border-top-right-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.product-content {
  padding: 2rem;
  background: white;
}

.product-content h1 {
  font-size: 0.75rem;
  color: #6c7289;
  text-transform: uppercase;
  letter-spacing: 0.375rem;
  margin-bottom: 1.25rem;
  font-weight: 500;
}

.product-content .perfume-name {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  color: #1c232b;
  margin-bottom: 1.5rem;
  line-height: 2rem;
}

.product-content .description {
  line-height: 1.5rem;
  color: #6c7289;
  font-weight: 500;
  font-size: 0.875rem;
}

.price {
  display: flex;
  column-gap: 1.25rem;
  align-items: center;
  margin: 1.75rem 0;
}

.price p {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: #3d8168;
}

.price small {
  text-decoration: line-through;
  color: #6c7289;
  font-weight: 500;
}

.btn {
  height: 3rem;
  width: 14.75rem;
  background: #3d8168;
  border: none;
  border-radius: 0.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  font-size: 0.875rem;
  font-weight: 700;
  transition: 0.48s;
}

@media (hover: hover) {
  .btn:hover {
    background-color: #1a4032;
    cursor: pointer;
  }
}

@media (max-width: 414px) {
  main,
  body {
    box-sizing: border-box;
  }
  .principal-content {
    flex-direction: column;
    height: 38.188rem;
  }

  img .parfum {
    border-top-right-radius: 0.625rem;
    border-top-left-radius: 0.625rem;
  }

  .image {
    height: 15rem;
    width: 21.438rem;
  }

  .product-content {
    border-radius: 0;
    padding: 1.5rem;
    width: 21.438rem;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
  }

  .product-content h1 {
    font-size: 0.75rem;
  }

  .btn {
    width: 18.438rem;
  }
}
